.page__header
    display flex
    align-items center

.page__button
    background-color rgba(255, 255, 255, 0.1)
    border-radius 12%
    margin 10px
    padding 5px 10px
    cursor pointer

.main__movie-wrapper
    display flex
    flex-direction column
    height 100%
    padding: 15px

.movie__board
    height 100%
    display flex
    flex-direction column

.movie__header
    display flex
    align-items center

.movie__meta
    display flex
    padding 10px

.movie__meta-param
    padding 5px

.movie__details
    display flex
    flex-direction row

.movie__parameters
    flex 2

    display flex
    flex-direction column

.movie__description
    flex 8
    padding 10px

    display flex
    flex-direction column
    justify-content space-between

.movie__buttons
    display flex
    flex-direction row
    justify-content start