*:focus
    border 1px solid red !important

.header__wrapper
    width 100%
    height 6rem

sidebar_width = 150px

.sidebar__wrapper
    height 100%
    width sidebar_width
    z-index: 1
    top 0
    left 0
    overflow-x hidden
    position fixed

    display flex
    flex-direction column
    justify-content center

    stransition 0.5s

.content__wrapper
    margin-left sidebar_width
    width 100%
    display flex
    flex-direction column

.main__wrapper
    width 100%
    flex 1 0 auto
    display flex

.footer__wrapper
    flex-shrink 0

.main
    position relative
    width 100%
    overflow hidden
    z-index 20
    background-color transparent

.main:before
    z-index -1
    content ""
    position absolute
    top 0 
    left 0
    width 100% 
    height 100%
    background-image url("../img/main-bg.jpg")
    filter opacity(0.3) blur(20px)
    background-size cover

.movies
    display flex
    flex-wrap wrap

.movies__item-wrapper
    margin 1rem

.movie--focused
    transform scale(1.08)

.movie__description-wrapper
    color rgba(255, 255, 255, 0.84)
    text-align center

.movie-description__name
    font-size 1.1rem
    font-weight bold

.main__movies_wrapper
    margin-top 1rem

