<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <variable name="serviceName" value="test" />
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="/var/log/ppl/${var:serviceName}-system-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            detectConsoleAvailable="true" />

  </targets>
  <rules>
    <logger name="*" minlevel="Warning" writeTo="fileTarget" />
    <logger name="*" minlevel="Warning" writeTo="consoleTarget" />
  </rules>
</nlog>