.timeline__container
  width:100%
  --timeline-height: 0.5rem
.timeline__passed
  display inline-block
  height var(--timeline-height)
  background-color: rgba(255,255,255,0.77)
.timeline__rest
  display inline-block
  height var(--timeline-height)
  background-color rgba(255,255,255,0.09)
